.latest_recipe {
    margin: 20px 0px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
